<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="archivepage.css">
    <title>Archive</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <% if (locals.data) { %>
      <div class="login-box2">
        <table class="table table-sm table-light table-responsive">
            <thead>
                <th>S.No</th>
                <th>shortURL</th>
                <th>redirectURL</th>
                <th>note</th>
                <th>clicks</th>
            </thead>
            <tbody>
                <% data.forEach((data,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= process.env.DOMAIN_PRE%><%= data.shortid %></td>
                    <td><%= data.redirectURL %></td>
                    <td><%= data.note %></td>
                    <td><%= data.visitedHistory.length %></td>
                 </tr>
                <% }); %>
            </tbody>
        </table>
      </div>
        <% } %>
      
    
</body>
</html>